<link rel="stylesheet" href="/css/styles.css">


<div class="container">
    <h1>Red Positive</h1>

    <div class="form">
        <h2>Add Data:</h2>
        <form action="/add" method="POST">
            <input type="text" name="name" placeholder="Name" required>
            <input type="tel" name="phoneNumber" placeholder="Phone Number" required>
            <input type="email" name="email" placeholder="Email" required>
            <input type="text" name="hobbies" placeholder="Hobbies" required>
            <button type="submit">Save</button>
        </form>
    </div>

    <div class="table">
        <h2>Data Table</h2>
        <table>
            <thead>
                <tr>
                    <th>Select</th>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Phone Number</th>
                    <th>Email</th>
                    <th>Hobbies</th>
                    <th>Update/Delete</th>
                </tr>
            </thead>
            <tbody>
                <% data.forEach(entry => { %>
                <tr>
                    <td><input type="checkbox"></td>
                    <td><%= entry._id %></td>
                    <td><%= entry.name %></td>
                    <td><%= entry.phoneNumber %></td>
                    <td><%= entry.email %></td>
                    <td><%= entry.hobbies %></td>
                    <td>
                        <button class="update-btn" onclick="openUpdateForm('<%= entry._id %>') " > Update </button>
                        <a href="/delete/<%= entry._id %>" class="delete-btn" method="DELETE">Delete</a>
                        <!-- <form action="/delete/<%= entry._id  %>" method="DELETE" class="delete-btn" >
                            <input type="submit"  value="Delete">
                        </form> -->
                    </td>
                </tr>
                <div id="updateFormContainer" style="display: none;">
                    <h2>Update Data</h2>
                    <p id="updateId">data: <%= entry._id %> </p>
                    <form id="updateForm">
                      <input type="text" id="updateName" placeholder="Name" required>
                      <input type="tel" id="updatePhoneNumber" placeholder="Phone Number" required>
                      <input type="email" id="updateEmail" placeholder="Email" required>
                      <input type="text" id="updateHobbies" placeholder="Hobbies" required>
                      <button type="button" onclick="submitUpdateForm('<%= entry._id %>')">Update</button>
                    </form>
                </div>
                <% }); %>
            </tbody>
            

        </table>
    </div>
</div>





<script src="/js/script.js"> </script>
  
